In [1]:
a=10
b=20

In [6]:
a + b

30

# Data Strcts + Objects

In [7]:
a= 10
b= 40

In [8]:
a + b

50

In [9]:
type (a)

int

In [10]:
c = 7.1
d = 10.3

In [16]:
c + d

20.6

In [17]:
type (c)

float

In [18]:
name = " Ajay gupta"
name1 = " Nandini Yadav"

In [20]:
name + name1

' Ajay gupta Nandini Yadav'

In [21]:
type (name1)

str

# List

In [31]:
lst = ["sai", 10, 7186, 126.43, [12,14,16,18]]

In [32]:
lst

['sai', 10, 7186, 126.43, [12, 14, 16, 18]]

In [28]:
lst

['sai', 10, 7186, 126.43]

In [33]:
lst [1]

10

In [34]:
lst [-1]

[12, 14, 16, 18]

In [35]:
lst[4][2]

16

In [36]:
lst [4][0]

12

In [37]:
lst.append("nandini")

In [38]:
lst

['sai', 10, 7186, 126.43, [12, 14, 16, 18], 'nandini']

In [39]:
lst.index(7186)

2

# DICT - Dictionaries

In [43]:
dit = {"name": "ajay gupta", "age":"27", "Roll No": "9699717100"}

In [44]:
dit

{'name': 'ajay gupta', 'age': '27', 'Roll No': '9699717100'}

In [46]:
dit.get("name")

'ajay gupta'

In [47]:
dit["name"]

'ajay gupta'

In [49]:
dit.items()

dict_items([('name', 'ajay gupta'), ('age', '27'), ('Roll No', '9699717100')])

In [50]:
dit.keys()

dict_keys(['name', 'age', 'Roll No'])

In [52]:
dit.pop("age")

'27'

In [55]:
#adding new elements to dict
dit["school"] = "LPS"

In [56]:
dit

{'name': 'ajay gupta', 'Roll No': '9699717100', 'school': 'LPS'}

# Sets

In [57]:
st = {"sai", "Ajay Gupta", 1, 2, 3, 3, 5,6,7, 5,5}

In [58]:
st

{1, 2, 3, 5, 6, 7, 'Ajay Gupta', 'sai'}

In [59]:
stl= {"ajay",1}

In [71]:
st.issubset(st)

True

# Tuple

In [72]:
tup= ("ajay", "@","yahoo.com")

In [63]:
tup

('ajay', '@', 'yahoo.com')

In [65]:
tup.count("@")

1

In [66]:
tup.index("yahoo.com")

2

In [67]:
# boolean

In [69]:
abc = True

In [70]:
xyz = False